.title {
  color: #35145d;
  font-size: 24px;
  margin-bottom: 10px;
  /* transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

}

.descr{
  color: #666;
  font-size: 16px;
  margin-top: 0;
}